header{
    background-image:linear-gradient(120deg, #222222, #171717);
    margin: -10px;
    margin-bottom: 30px;
    color: white;
    text-align: center;
    vertical-align: 2.5rem;
    font-family: 'Roboto';
    font-weight: bold;
    padding: 5rem 4rem;
    flex-direction: row;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.menu {
    background-color: #333;
    color: white;
    width: 250px;
    height: 100%;
    position: fixed;
    top: 50px;
    left: 0;
}

.menu-header {
    padding: 20px 0;
    text-align: center;
    border-bottom: 1px solid #555;
}

.menu-header h2 {
    margin: 0;
    font-weight: bold;
    flex-grow: 1;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: 1px solid #555;
}

.menu li {
    padding: 10px 20px;
    border-bottom: 1px solid #555; /* Add a bottom border for each menu item */
}

.menu a {
    text-decoration: none;
    color: white;
    display: block;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: #555;
}

.open-file-button {
    margin: 0px; /* Adjust margin as needed */
}

.open-file-button button {
    background-color: #555;
    color: white;
    border: none;
    padding: 0px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.open-file-button button:hover {
    background-color: #333;
}
.content {
    margin-left: 250px;
    padding: 20px;
}